<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/questions/new">New Question</a>
      </li>
    </ul>
  </nav>          
  <h3><a href="/" class="text-muted">Icebreakers</a></h3>
</header>